@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/static/PlusJakartaSans-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf") format("ttf");
  font-weight: 800;
}

:root {
  /* Colors */
  --clr-primary-red: hsl(1, 90%, 64%);
  --clr-primary-blue: hsl(219, 85%, 26%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-very-light-grayish-blue: hsl(210, 60%, 98%);
  --clr-neutral-light-grayish-blue-1: hsl(211, 68%, 94%);
  --clr-neutral-light-grayish-blue-2: hsl(205, 33%, 90%);
  --clr-neutral-grayish-blue: hsl(219, 14%, 63%);
  --clr-neutral-dark-grayish-blue: hsl(219, 12%, 42%);
  --clr-neutral-very-dark-blue: hsl(224, 21%, 14%);

  /* Font Weight */
  --font-weight-extra-bold: 800;
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  /* Font Size */
  --font-size-200: 0.75rem;
  --font-size-300: 0.875rem;
  --font-size-400: 1rem;
  --font-size-500: 1.125rem;
  --font-size-600: 1.25rem;
  --font-size-700: 1.5rem;
  --font-size-800: 1.875rem;
  --font-size-900: 2.25rem;
  --font-size-1000: 2.5rem;
  --font-size-1100: 2.75rem;
  --font-size-1200: 3rem;
}

/* Reset */
/*  https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */

/* body {
  background-color: var(--clr-neutral-off-white);
  color: var(--clr-neutral-off-black);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-700);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--clr-neutral-white);
  width: 375px;
  height: 500px;
  display: grid;
  grid-template-rows: 2fr 3fr;
  padding: 1rem;
  border-radius: 1.5rem 1.5rem 9rem 1.5rem;
}*/

.read {
  background-color: var(--clr-neutral-white);
}

.unread {
  background-color: var(--clr-neutral-grayish-blue);
}

/* https://codepen.io/sosuke/pen/Pjoqqp */
.red-dot {
  width: 0.5rem;
  height: 0.5rem;
  filter: invert(59%) sepia(94%) saturate(3507%) hue-rotate(329deg)
    brightness(98%) contrast(97%);
}

/*
.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  height: 100px;
}

label {
  text-align: left;
  width: 100%;
  text-transform: uppercase;
  font-size: var(--font-size-200);
  color: var(--clr-neutral-smokey-grey);
  font-weight: var(--font-weight-medium);
}

.custom-input {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.error-message,
.empty-message {
  color: var(--clr-primary-light-red);
  font-size: var(--font-size-200);
}

input {
  width: 100%;
  border: 1px solid var(--clr-neutral-light-grey);
  border-radius: 0.5rem;
  color: var(--clr-neutral-off-black);
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-bold);
  padding: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 */
/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
}

.separation {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 100%;
}

button {
  height: 4rem;
  width: 4rem;
  background-color: var(--clr-primary-purple);
  border-radius: 10rem;
  padding: 1.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
}

.result-section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem;
  font-size: var(--font-size-1000);
  font-weight: var(--font-weight-bold);
}

.result {
  color: var(--clr-primary-purple);
}
 */
/* Media queries */
/* @media (min-width: 40em) {
  main {
    width: 600px;
    height: 500px;
  }
  form {
    width: 75%;
  }
  .arrow {
    transform: translate(200%, -125%);
  }

  .result-section {
    font-size: var(--font-size-1200);
  }
} */
